<!-- <section> -->
  
    {{ if .IsNode }}
    <a href="{{ .Permalink }}">{{ .Title}}</a>
    {{ else }}
    <p class="text-4xl absolute item-top top-0 mt-6 mb-2 mx-4" href="{{ .RelPermalink }}">{{ .Title }}{{ if .Draft }} :: Draft {{end}}</p>
    {{ end }}
    
  <!-- <section class="flex mx-4 my-2 text-4xl w-full"> -->
  <div class="mx-4 mt-2 mb-0 w-full content-meta ">
  {{ if .IsPage }}
    {{ if or (eq .Type "post") (.Params.meta)  }}
        {{ if .Params.subtitle }}
          <p class=subtitle>{{ .Params.subtitle }}</p>
        {{ end }}
        {{ if not .Params.hidedate }}
          <i class="fa fa-calendar"></i>
          &nbsp;{{ .Date.Format "Jan 2, 2006" }}
        {{end }}
    
        {{ if .Params.categories }}
          &nbsp;&nbsp;<i class="fa fa-tags"> </i>
          {{ range .Params.categories }}
          <a  href="{{ "/categories/" | absURL }}{{ . | urlize }}">{{ . }}</a>
          {{ end }}

        {{ if not .Params.hidereadtime }}
          &nbsp;<i class="fa fa-clock-o"></i>
          &nbsp;{{ .ReadingTime }} min read
        {{ end }}
    
        {{ end }}
    {{ end }}
  {{ end }}
  </div>
    <!-- </section> -->