{{ define "main" }}
  <!-- <section class="flex-none w-full h-fit"> -->
    <h1 class="mt-0 p-2 h-fit" href="{{ .RelPermalink }}">{{ .Title }}</h1>
  <!-- </section> -->
    <!-- {{ partial "content.header.html" . }} -->
    <!-- <section class="flex-grow grid w-full h-fit p-2"> -->
    <!-- <img class="py-0 rounded-full" alt="profile" src="/profile_pic2.jpg" width="200"> -->
      {{ .Content }}
    <!-- </section> -->
    <footer class="flex-none w-full">
      {{ partial "footer.html" . }}
    </footer>
</article>
{{ end }}